@font-face {
  font-family: 'Noto Sans Symbols';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2up3q65FkAtHfwd-eIS2brbDN6gxP34F9jRRCe4W3gfQ8gb-05rNxZjvOqRUOUFawEjdZB7YoA3LvWX77sWkJm1SamD3rEbkn7wjaDFqfQllqq7Iqxi0Vsn0q79uMLVGuhesTQqLBzM6woMzTNxaz7DFA0BGh8-RHC6SnLxDPJ_q1IZ1ko5jabppEOZ6bLkfff1h_tdXFPGu9ShYUw&skey=e59169fb45ece077&v=v47) format('woff2');
}
