._logoLink_1nxm2_1{display:flex;justify-content:center;margin:32px}._content_1nxm2_7{max-width:480px;margin:0 auto;text-align:center;display:flex;flex-direction:column;gap:24px;justify-content:start}
